body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
}

.gallery-section {
  text-align: center;
  padding: 60px 20px;
}

.quote {
  color: #007a3d;
  font-style: italic;
  margin-bottom: 5px;
}

.gallery-title {
  color:green;
  font-size: 26px;
  margin-bottom: 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  justify-items: center;
  margin: 0 auto 30px;
  max-width: 900px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  gap: 20px;
  transform: scale(1.25);
}

.btn-more {
  background-color: #004d26;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.btn-more:hover {
  background-color: #007a3d;
}

/* Event Planning Banner */
.event-banner {
  background: linear-gradient(90deg, #007a3d, #00994d);
  color: white;
  text-align: center;
  padding: 60px 20px;
  border-radius: 12px;
  width: 80%;
  margin: 60px auto;
}

.tagline {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.event-heading {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.btn-schedule {
  background-color: #004d26;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-schedule:hover {
  background-color: #007a3d;
}
